* {
    font-family: 'Lato', sans-serif;
}

/* Cabeçalho */
header {
    margin: 5px;
}

body {
    background: linear-gradient(#f1f1f1, #0A3871);
}

/* Corpo da Pagina */
div {
    display: inline-block; 
    margin: 5px;
}

textarea {
    font-size: 18px;
    height: 440px;
}

#entrada-texto {
    padding: 15px;
    margin-left: 100px;
    border-radius: 20px;
    border-color: white;
}

.descricao-entrada {
    color: white;
    margin: 5px;
    padding-left: 100px;
}

#saida-texto {
    border-color: #0A3871;
    border-width: 3px;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
}

/* Estilizando botão */
button {
    padding: 15px 50px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 1s all;
}

/* botões */
#criptografar {
    color: white;
    background-color: #0A3871;
    margin-left: 150px;
}

#criptografar:hover {
    color: #0A3871;
    background-color: white;
}

#descriptografar {
    color: #0A3871;
    border-color: #0A3871;
}

#descriptografar:hover {
    color: white;
    background-color: #0A3871;
}

#copiar {
    display: flex;
    margin-left: 150px;
    color: white;
    background-color: #0A3871;
}

#copiar:hover {
    color: #0A3871;
    background-color: white;
}

/* IMAGEM DE BUSCA */

#imagem-inicial {
    width: 30%;
    text-align: center;
    position: absolute;
    top: 100px;
    padding: 20px;
}

.imagem-busca {
    width: 80%;
}

.texto-img {
    color: #0A3871;
}

.texto-img span {
    font-weight: bold;
}

/* Rodapé */
footer {
    color: white;
    background-color: #0A3871;
    padding: 2em;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    header, body {
        width: 100%;
        text-align: center;
    }
    
    .container-entrada, .container-saida{
        display: block;
        width: 100%;
        
    }

    #entrada-texto, #saida-texto {
        width: 60%;
        margin: 20px;
        margin-left: 0px
    }

    .descricao-entrada {
        padding: 10px;
    }

    #imagem-inicial {
        display: none;
    }

    #criptografar, #descriptografar{
        margin-left: 0px;
    }

    #copiar {
        margin-left: 30%;
    }
}